body{
    background-image: linear-gradient(90deg, #B2FFFC, #A1C9F2);

    margin: 0;
    padding: 0;
}
 
 .head{
    background-color: #A1C9F2;
      color: #fff;
      padding: 20px;
      text-align: center;
      position: fixed;
      top: 0;
      width: 100%;
    
 }


 .nav-link {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
 }
 .nav-link:hover{
    color: #B2FFFC;
 }
 
 .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -10px;
    position: relative;
    right: 20px;
    }
    #navbar{
        display: flex;
        justify-content: space-around;
    }

    #home{
        width: 100%;
        height: auto;
      /* background-color: #B2FFFC; */
      
    }
    

    .welcome{
        padding-top: 150px;
        text-align: center;
        text-transform: uppercase;
    }

    .welcome > h1, h2{
        font-size: 30px;
    }

    .home-logo{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .Collections{
       padding-top: 15px;

    }

    .view-clt{
        text-decoration: none;
        color: #000;
        background-color: #A1C9F2;
        width: 200px;
        height: 60px;
        border: 7px solid #A1C9F2;
       margin-left: 40%;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
    .view-clt:hover{
        background-color: #B2FFFC;
        border: 7px solid #B2FFFC;
    }

    #products{
        padding-top: 150px;
        height: auto;
    }

    .product-intro{
      text-align: center;
      padding-bottom: 20px;
    }

      .container{
        display: grid;
        margin-left: 30px;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 50px;
        column-gap: 40px;
      }
      .container > div > img{
        width: 200px;
        height: 270px;
      }

      .text{
        text-align: center;
        margin-right: 50px;
      }
      .product-vid{
        height: 300px;
        width: fit-content;
        padding-top: 50px;
        display: flex;
        margin: 0 auto;
        object-fit: cover;
        border: none;
      } 

      #about{
        padding-top: 100px;
      }

      .about-head{
        text-transform: uppercase;
        text-align: center;
      }

      .about-headers, .contact-header{
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
      }

      .about-content{
        text-align: center;
        padding-bottom: 20px;
        font-size: larger;
      }

      dl > li{
        text-align: center;
        text-decoration: none;
        list-style: none;
        font-size: larger;
      }

      .founderImage{
        width: 500px;
        height: 600px;
        padding-top: 20px;
        display: flex;
        margin: 0 auto;
      }
      .contact-content{
        text-align: center;
        padding-bottom: 20px;
        font-size: 25px;
        text-transform: uppercase;
      }

      .social{
        text-decoration: none;
        color: #000;
      }

      .social:hover{
        text-decoration: underline;
      }
      i{
        font-size: 25px;
      }
      .fa-envelope{
        color: blue;
      }

       /* LARGE DESKTOP SCREEN SIZE */
  @media screen and (min-width: 1025px) {

  }

   /* DESKTOP SCREEN SIZE */
   @media screen and (min-width: 769px) and (max-width: 1024px) {
    body{
      overflow-x: hidden;
    }

    .welcome{
      padding-top: 100px;
      text-align: center;
      text-transform: uppercase;
  }

  .welcome > h1, h2{
    font-size: 28px;
}
    .Collections{
      padding-top: 40px;
     text-align: center;
    
    }
      .view-clt{
        margin-left: 0;
        font-size: 35px;
    
      }
      .container{
        display: grid;
       margin: 5%;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        width: 100%;
      }
      .founderImage{
        width: 500px;
        height: 600px
      }
      .contact-header{
        font-size: 25px;
      }
   }

   /* TABLET SCREEN SIZE */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    body{
      overflow-x: hidden;
    }

    .welcome{
      padding-top: 100px;
      text-align: center;
      text-transform: uppercase;
  }

  .welcome > h1, h2{
    font-size: 25px;
}
    .Collections{
      padding-top: 40px;
     text-align: center;
    
    }
      .view-clt{
        margin-left: 20%;
        font-size: 30px;
    
      }
      .container{
        display: grid;
       margin-left: 10%;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        width: 100%;
        
      }

      .founderImage{
        width: 400px;
        height: 500px
      }
      .contact-header{
        font-size: 20px;
      }
  }

   /* MOBILE SCREEN SIZE */

   @media screen and  (min-width: 320px) and (max-width: 480px)  {
       html{
           overflow-x: hidden;
       }
    body{
      overflow-x: hidden;
    }
       .head{
      background-color: #A1C9F2;
        color: #fff;
        padding: 20px;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
      
   }

    .nav-link{
      font-size: 12px;
    }
    #navbar{
      display: flex;
      justify-content: center;
        gap: 8px;
  }
       .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -10px;
    position: relative;
    right: 20px;
    }
  
  .welcome{
    padding-top: 150px;
  }
  
  .welcome > h1{
    
    font-size: 10px;
}

.home-logo{
  width: 150px;
  height: 150px;
}

.Collections{
  padding-top: 40px;
 text-align: center;

}
  .view-clt{
    margin-left: 10%;
    font-size: 20px;

  }
  .container{
    display: grid;
   margin-left: 10%;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    width: 100%;
    
  }
  .container > div > img{
    width: 80%;
    height: 270px;
  }
  .founderImage{
    width: 300px;
    height: 400px
  }
  .welcome > h1, h2{
    font-size: 20px;
}
.about-content{
  font-size: large;
}
   }
